.autocompletetextbox
{
    /*border: 3px solid green; */
}


.ui-autocomplete { position: absolute; cursor: default; }      

ul.ui-autocomplete 
{
    background: #FFF;
    border: 1px solid #000;
    list-style-type: none;
}
ul.ui-autocomplete .ui-menu-item
{
    border: 1px dashed #c0c0c0;
}
a.ui-state-focus
{
    border: 2px solid red;
}